<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kangouroo</title>
    <link rel="shortcut icon" href="https://cdn1.deliveroo.fr/assets/images/favicons/production/apple-touch-icon-125e2b9a2f32af8da9e19b3e78edba81.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
